*.swo
*.swp
.DS_Store
.sass-cache/*
/.bundle
/server/cookbooks
/server/tmp
/config/sec_config.yml
/db/*.sqlite3
/log/*.log
/log/*.log.*
/tmp
coverage
public/assets
public/system
RELEASE
vendor/bundle/
vendor/cache/
public/uploads/tmp
