.well.well-lg
  %h2 Recipes
  %table.table.table-condensed
    %tr
      %th Name
      %th Added by
      %th Likes
    - recipes.each do |r|
      %tr
        %td= link_to r.name, r
        %td= r.user.name
        %td= r.rate
