<h3>My cookbook</h3>

<table class="table table-condensed">

<% @cookbooks.each do |cookbook| %>
  <tr>
    <td>
			<%=h link_to Recipe.find(cookbook.recipe_id).name, {:controller => :recipes, :action => :show, :id => cookbook.recipe_id} %>
		</td>
    <td><%= link_to 'X', cookbook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>





